@media only screen and (min-width:360px){
  .submenu{
    right: 96%;
  }
}
@media only screen and (min-width:400px){
  .submenu{
    right: 94%;
  }
}
@media only screen and (min-width:450px){
  .submenu{
    right: 92%;
  }
}
@media only screen and (min-width:500px){
  .submenu{
    right: 91%;
  }
}
@media only screen and (min-width:550px){
  .submenu{
    right: 89%;
  }
}
@media only screen and (min-width:600px){
  .submenu{
    right: 88%;
  }
}
@media only screen and (min-width:650px){
  .submenu{
    right: 87.5%;
  }
}
@media only screen and (min-width:700px){
  .submenu{
    right: 87%;
  }
}
@media only screen and (min-width:750px){
  .submenu{
    right: 86%;
  }
}
@media only screen and (min-width:800px){
  .submenu{
    right: 85.5%;
  }
}
@media only screen and (min-width:850px){
  .submenu{
    right: 84.5%;
  }
}
@media only screen and (min-width:1020px){
  .submenu{
    right: 10.5%;
    top:35px;
  }
}
@media only screen and (min-width:1920px){
  .submenu{
    right: 15%;}
}
.active{
  font-weight: bold;
}











